<div class="container-flex my-4">
  <div class="mb-3">
    <h3 class="text-uppercase"><%= title %></h3>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% taxons.each do |taxon| %>
      <div class="col p-3">
        <div class="card border-dark bg-light h-100 w-100 rounded", style="min-height: 10rem">
          <div class="card-body text-success d-flex align-content-end flex-wrap">
            <%= link_to taxon.name, nested_taxons_path(taxon), class: 'btn btn-primary rounded' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
